@import "tailwindcss";

:root {
  --bg-main: #eeeeee;
  --bg-dark: #111111;
  --border-dark: #666666;
}

/* Custom Font: DM Sans (Subtitle) */
@font-face {
  font-family: "subtitle";
  src: url("/src/assets/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* Custom Font: Gilroy Light (Paragraph) */
@font-face {
  font-family: "paragraph";
  src: url("/src/assets/fonts/Gilroy-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Set default body font */
* {
  font-family: "subtitle", sans-serif;
  cursor: none;
}

/* Custom utility classes */
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .line-chart {
    @apply flex justify-center items-center w-[95dvw] border border-[var(--border-dark)] rounded-full;
  }
}

.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.5); /* semi-transparent */
  filter: blur(#05ce48);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
.underline-bar {
  transform-origin: left;
}